body {
    background-color: #A4A68A;
    height: 1580px;
    position: relative;
}

* {
    color: #F2F2F2;
    box-sizing: border-box;
}

.leftSection {
    height: 1390px;
    width: 400px;
    background-color: #D94C1A;
    float: left;
    margin-left: 8px;
    margin-top: 10px;
}

.right {
    height: 1390px;
    width: 900px;
    background-color: #57523E;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}

.me {
    width: 400px;
    height: 400px;
}

.img {
    position: relative;
}

.name {
    position: absolute;
    top: 340px;
    color: #F2F2F2;
    left: 50px;
    text-transform: capitalize;
    font-size: 30px;
}

a {
    display: block;
    line-height: 40px;
    text-decoration: none;
    position: relative;
    left: 20px;
    color: #F2F2F2;
    font-size: 20px;
}

.x {
    background-color: #F2F2F2;
    width: 360px;
    border-radius: 20px;
    position: relative;
    left: 20px;
}

p {
    position: relative;
    left: 20px;
    font-size: 20px;
}

.y {
    background-color: #503c00;
    width: 300px;
    border-radius: 20px;
    margin: 0;
    text-align: center;
}

.z {
    background-color: #503c00;
    width: 200px;
    border-radius: 20px;
    margin: 0;
    text-align: center;
}

.a {
    background-color: #503c00;
    width: 250px;
    border-radius: 20px;
    margin: 0;
    text-align: center;
}

.f {
    background-color: #503c00;
    width: 100px;
    border-radius: 20px;
    margin: 0;
    text-align: center;
}

.m {
    background-color: #503c00;
    width: 360px;
    border-radius: 20px;
    position: relative;
    left: 20px;
}

.r {
    background-color: #503c00;
    width: 360px;
    border-radius: 20px;
    margin: 0;
    text-align: center;
}

.front {
    margin-left: 10px;
    font-size: 20px;
}

#front {
    margin-left: 15px;
}

.rightSection1 {
    margin: 10px;
    padding: 10px;
    width: 880px;
    height: 630px;
    background-color: #D94C1A;
    position: absolute;
    margin-top: 20px;
}

.rightSection2 {
    margin: 10px;
    padding: 10px;
    width: 880px;
    height: 700px;
    background-color: #D94C1A;
    position: absolute;
    top: 658px;
}

.footer {
    position: absolute;
    background-color: #D94C1A;
    font-size: 40px;
    width: 100%;
    height: 150px;
    top: 1420px;
}

.fo {
    text-align: center;
    margin-top: 50px;
}